body {
    font-family: Arial, sans-serif;
    margin: 50px;
}

.container {
    width: 300px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
}

input, button {
    margin-bottom: 10px;
    padding: 8px;
    font-size: 16px;
}

.message {
    margin-top: 10px;
    font-weight: bold;
}

.positive {
    color: rgb(5, 240, 5);
}

.negative {
    color: red;
}